<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
         <%= image_tag @movie.image.url(:medium) %>
         <div class="star-rating" data-score= <%= @avg_review %> ></div>
         <em><%= "#{@reviews.length} reviews" %></em>
         <div class="table-responsive">
           <table class="table">
             <tbody>

               <tr>
                 <td><strong>名&nbsp;稱:</strong></td>
                 <td><%= @movie.title %></td>
               </tr>
               <tr>
                 <td><strong>簡&nbsp;介:</strong></td>
                 <td><%= @movie.description %></td>
               </tr>
               <tr>
                  <td><strong>片&nbsp;長:</strong></td>
                  <td><%= @movie.movie_length %></td>
               </tr>
               <tr>
                 <td><strong>導&nbsp;演:</strong></td>
                 <td><%= @movie.director %></td>
               </tr>
               <tr>
                 <td><strong>分&nbsp;級:</strong></td>
                 <td><%= @movie.rating %></td>
               </tr>
             </tbody>
           </table><%= link_to "新增評論", new_movie_review_path(@movie) %>
         </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @movie.title %></h1>
        <p><%= @movie.description %></p>

        <% if @reviews.blank? %>
          <h3>目前沒有評論</h3>
          <%= link_to "立即新增評論",new_movie_review_path(@movie), class:"btn btn-danger" %>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <p><%= review.comment %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to '編輯', edit_movie_path(@movie) %> |
<%= link_to '回首頁', movies_path %>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>